.main-joke-container {
    margin-bottom: 5%;
}


.card-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 7vh;
}

.refresh-button {
    border: 2px solid whitesmoke;
    border-radius: 12px;
    background-color: black;
    color: orange;
    font-size: 26px;
    margin: 10px;
    padding: 10px;
}